.task {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid var(--text-color);
  gap: 18px;
  font-weight: 700;
  cursor: pointer;
  text-transform: capitalize;
  background-color: var(--todo-bg-color);

  &:hover > label > input:not(:checked) ~ div {
    background: var(--checked-bg);
  }

  & button {
    display: none;
    margin-left: auto;
    background: transparent;
    border: none;

    @media screen and (hover: none) {
      & {
        display: block;
      }
    }
  }

  &:hover button {
    display: block;
  }
}

.done {
  color: var(--task-completed-color);
  text-decoration: line-through;
}
