.label {
  position: relative;

  & span {
    position: absolute;
    top: -30%;
    left: 15px;
  }

  & > label > div {
    top: -100%;

    background: var(--checked-bg);
  }
}

.input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 20px 53px;
  background-color: var(--todo-bg-color);
  color: var(--text-color);
  font-size: inherit;
  caret-color: var(--active-btn-color);
}

.circle {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--checkbox-border-color);

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    background-color: var(--todo-bg-color);
  }
}
