.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: var(--btn-text-color);

  @media screen and (max-width: 600px) {
    & {
      font-size: 0.75rem;
    }
  }
}

.clearBtn:hover {
  color: var(--clear-btn-hover-color);
}

.active {
  color: var(--active-btn-color);
}
